.main {
    width: 100%;
    padding: 0 30px;

    .header {
        display: flex;
        align-items: center;

        .left,
        .right,
        .middle {
            flex: 1;
        }
        .left {
            text-align: left;
        }
        .middle {
            text-align: center;
        }
        .right {
            text-align: right;
        }
    }
}