.container {
    padding: 20px 40px;
    width: 80%;
    // height: 600px;
    margin: 40px auto;
    &>.header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &>.questionListBox {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
    }
    &>.footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
    }
}