.container {
    background-color: #fff;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    .emptyBox {
        margin: auto;
    }
    .componentsStyle {
        padding: 12px;
        border: 1px solid #fff;
        border-radius: 10px;
        margin-top: 12px;
        &:hover {
            border-color: pink;
            
        }
    }
    
    .disabledElement {
        pointer-events: none; // 禁用一切鼠标事件
    }
    .selected {
        border-color: #1890ff !important;
    }
}