.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid pink;

    .input {
        width: 650px;
        height: 60px;
        font-size: 30px;
        color: pink;
        &::placeholder {
            color: green;
        }
    }
}