.edit {
    width: 100%;
    background-color: #eef0f4;
    height: 100vh;
    .head {
        width: 100%;
        height: 80px;
        background-color: pink;
    }

    .main {
        display: flex;
        justify-content: space-between;

        .left,
        .right {
            width: 200px;
            height: calc(100vh - 80px);
            background-color: #fff;
            margin: 12px;
        }

        .container {
            width: 400px;
            height: 600px;
            background-color: #fff;
            align-self: center;
            overflow: auto;
            box-shadow: 0 2px 10px #0000001f;
            .canvasBox {
                margin: 12px;
            }
        }
    }
}