.main {
    width: 100%;
    background-color: #eef0f4;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    .title {
        font-size: 30px;
        font-weight: 600;
    }
}