.container {
    background-color: #fff;
    .header,.footer {
        height: 80px;
        line-height: 80px;
        background-color: #011425;
        display: flex;
    }
    .header {
        justify-content: space-between;
    }
    .main {
        min-height: calc(100vh - 80px - 80px);
    background-color: #eef0f4;

    }
}